<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @session_master.session %>
</p>

<p>
  <strong>User:</strong>
  <%= @session_master.user_id %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @session_master.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @session_master.del_status %>
</p>

<%= link_to 'Edit', edit_session_master_path(@session_master) %> |
<%= link_to 'Back', session_masters_path %>
