<%= simple_form_for(@registered_voter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :voter_id %>
    <%= f.input :surname %>
    <%= f.input :other_names %>
    <%= f.input :level_id %>
    <%= f.input :session_id %>
    <%= f.input :program_id %>
    <%= f.input :gender_id %>
    <%= f.input :vote_status %>
    <%= f.input :user_id %>
    <%= f.input :active_status %>
    <%= f.input :del_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
