<%= simple_form_for(@faculty_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :faculty_name %>
    <%= f.input :user_id %>
    <%= f.input :active_status %>
    <%= f.input :del_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
