<br>
<%= simple_form_for(@portfolio_master) do |f| %>
  <%= f.error_notification %>

<div id="id01" class="w3-modal w3-card-4 w3-round-large" style="display: block;">
    <div class="w3-modal-content w3-animate-top w3-card-4 w3-light-gray" style="width: 33%; max-height: 80%; overflow-y: auto;">
    	<div style="max-width: 70%; text-align: center; margin-left: 15%; margin-top: 15px">
      
	    	<% if flash[:notice] %>
                <p class="flash_notice " id = 'notes' style = ""><%= notice %></p>
		  	 <% end %>
		  	
    	</div>	   
      <header class="w3-container">  
        <h4>Add an Portfolio</h4>  
      </header>          
           <div class="w3-container" > 				 		      	
              
               <div class="form-inputs">
               		<%= f.input :portfolio, label: "Portfolio" %>
	                <%= f.input :ref_id, label: "Unique ID. Eg. AC" %>    				
				    <%= f.input :user_id, as: :hidden %>
				    <%= f.input :active_status, as: :hidden, input_html: {value: 1} %>
				    <%= f.input :del_status, as: :hidden, input_html: {value: 0} %>
               </div>
           </div>
        <br>
      <footer class="w3-container">
       	<%= f.button :submit, class: "w3-button w3-teal w3-hover-teal w3-right w3-card-4 w3-small w3-round-xlarge", value: "Update" %>
        <%= link_to 'Back', portfolio_masters_path, class: "w3-button w3-black w3-hover-black w3-left w3-card-4 w3-small w3-round-xlarge" %>
      <br />
      </footer>
      <% end %>
      <br />
    </div>
    <br />
</div>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 3000);
  });
</script>
