<%= simple_form_for(@portfolio_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ref_id %>
    <%= f.input :portfolio %>
    <%= f.input :user_id %>
    <%= f.input :active_status %>
    <%= f.input :del_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
