<div class="row w3-padding">
	<h4>Presidential Results</h4>
	<h5 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Number of Reg. Voters: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "> <%= @total_reg_voters%></span> </h5>
	<h5 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Votes for Presidents: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "><%= @vote_cast_for_prez %></span> </h3>
	<h3 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Valid Votes for Presidents: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "><%= @total_valid_votes_for_prez %></span> </h3>
	<h3 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Rejected Votes for Presidents: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "><%= @total_rejected_vote_for_prez %> <i style="color: red">(<%= @reject_per_final %>%)</i></span> </h3>
	<div class="w3-clear clearfix"></div>
	
	<div class="col-med-4 col-xs-4 prez1 w3-card" style="text-align: center">
		<br />
		<% if @candidate1.image.present?%>
			 <%= image_tag @candidate1.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
		<%else%>
			<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
		<%end%>
		<div class="w3-clear"></div>
		<%= @candidate1.registered_voter.surname %>	<%= @candidate1.registered_voter.other_names %>		
		    <h5>Votes: <%= @count_prez1 %></h5>
		    <h5>Percentage: <%= @prez1_per_final %>%</h5>
		    
		 
	</div>
	<div class="col-med-4 col-xs-4 prez2 w3-card" style="text-align: center">
		<br />
		<% if @candidate2.image.present?%>
			 <%= image_tag @candidate2.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
		<%else%>
			<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
		<%end%>
		<div class="w3-clear"></div>
		<%= @candidate2.registered_voter.surname %>	<%= @candidate2.registered_voter.other_names %>
		<h5>Votes: <%= @count_prez2 %></h5>	
		<h5>Percentage: <%= @prez2_per_final %>%</h5>
		
	</div>
	
	<div class="col-med-4 col-xs-4 prez3 w3-card" style="text-align: center">
		<br />
		<% if @candidate3.image.present?%>
			 <%= image_tag @candidate3.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
		<%else%>
			<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
		<%end%>
		<div class="w3-clear"></div>
		<%= @candidate3.registered_voter.surname %>	<%= @candidate3.registered_voter.other_names %>
		<h5>Votes: <%= @count_prez3 %></h5>
		<h5>Percentage: <%= @prez3_per_final %>%</h5>
					
	</div>
	
	
	
</div>




