<div class="row w3-padding">
	<h4>Secretary Results</h4>
	<h5 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Number of Reg. Voters: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "> <%= @total_reg_voters%></span> </h5>
	<h5 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Votes for Secretary: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "><%= @vote_cast_for_sec %></span> </h3>
	<h3 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Valid Votes for Secretary: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "><%= @total_valid_votes_for_sec %> <i style="color: red">(<%= @valid_sec_final %>%)</i></span> </h3>
	<h3 style="font-family: Tahoma; font-weight: bold; font-size: 20px">Total Rejected Votes for Secretary: <span style="font-weight: bold; font-family: Tahoma; font-size: 30px; color: blue; margin-left: 20px "><%= @total_rejected_vote_for_sec %> <i style="color: red">(<%= @reject_per_final_sec %>%)</i></span> </h3>
	<div class="w3-clear clearfix"></div>
	<br />
	<!-- row 1 -->
	<div class="row w3-padding">
		<!-- slot 1 -->
		<% if @candidate_sec1.present? %>
		   <div class="col-md-4 col-sm-12 sec1 w3-card" style="text-align: center">
			 <br />	
				<% if @candidate_sec1.image.present?%>
					 <%= image_tag @candidate_sec1.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
				<%else%>
					<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
				<%end%>
				<div class="w3-clear"></div>
				<%= @candidate_sec1.registered_voter.surname %>	<%= @candidate_sec1.registered_voter.other_names %>		
				<h5>Votes: <span id="votes"><%= @count_sec1 %></span></h5>
				<h5>Percentage: <span id="percent"><%= @sec1_per_final %>%</span></h5>		    
			</div>
		<%end%>
		
		<!-- slot 2 -->
		<% if @candidate_sec2.present? %>
			<div class="col-md-4 col-sm-12 sec2 w3-card" style="text-align: center">
			<br />		
				<% if @candidate_sec2.image.present?%>
					 <%= image_tag @candidate_sec2.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
				<%else%>
					<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
				<%end%>
				<div class="w3-clear"></div>
				<%= @candidate_sec2.registered_voter.surname %>	<%= @candidate_sec2.registered_voter.other_names %>
				<h5>Votes: <span id="votes"><%= @count_sec2 %></span></h5>	
				<h5>Percentage: <span id="percent"><%= @sec2_per_final %>%</span></h5>			
			</div>
		<%end%>
		
		<!-- slot 3 -->
		<% if @candidate_sec3.present? %>
			<div class="col-md-4  col-sm-12 sec3 w3-card" style="text-align: center">
			<br />			
				<% if @candidate_sec3.image.present?%>
					 <%= image_tag @candidate_sec3.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
				<%else%>
					<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
				<%end%>
				<div class="w3-clear"></div>
				<%= @candidate_sec3.registered_voter.surname %>	<%= @candidate_sec3.registered_voter.other_names %>
				<h5>Votes: <span id="votes"><%= @count_sec3 %></span></h5>
				<h5>Percentage: <span id="percent"><%= @sec3_per_final %>%</span></h5>		   			
			</div>
		<%end%>		
	</div>
	<div class="w3-clear"></div>
	
	<!-- row 2 -->
	<div class="row w3-padding">
		<!-- slot 4 -->
		<% if @candidate_sec4.present? %>
			<div class="col-md-4 col-sm-12 sec3 w3-card" style="text-align: center">
			<br />
				<% if @candidate_sec4.image.present?%>
					 <%= image_tag @candidate_sec4.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
				<%else%>
					<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
				<%end%>
				<div class="w3-clear"></div>
				<%= @candidate_sec4.registered_voter.surname %>	<%= @candidate_sec4.registered_voter.other_names %>
				<h5>Votes: <span id="votes"><%= @count_sec4 %></span></h5>
				<h5>Percentage: <span id="percent"><%= @sec4_per_final %>%</span></h5>		   			
			</div>
		<%end%>
		
		<!-- slot 5 -->
		<% if @candidate_sec5.present? %>
			<div class="col-md-4 col-sm-12 sec3 w3-card" style="text-align: center">
			<br />			
				<% if @candidate_sec5.image.present?%>
					 <%= image_tag @candidate_sec5.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
				<%else%>
					<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
				<%end%>
				<div class="w3-clear"></div>
				<%= @candidate_sec5.registered_voter.surname %>	<%= @candidate_sec5.registered_voter.other_names %>
				<h5>Votes: <span id="votes"><%= @count_sec5 %></span></h5>
				<h5>Percentage: <span id="percent"><%= @sec5_per_final %>%</span></h5>		   			
			</div>
		<%end%>
		
		<!-- slot 6 -->
		<% if @candidate_sec6.present? %>
			<div class="col-md-4 col-sm-12 sec3 w3-card" style="text-align: center">
			<br />			
				<% if @candidate_sec6.image.present?%>
					 <%= image_tag @candidate_sec6.image.url(:thumb), class: "img-circle ", style: "width: 100px;  margin: 2px" %>	      		  
				<%else%>
					<%= image_tag ('user.png'), class: "img-circle", style: "width: 100px;  margin: 2px" %> 
				<%end%>
				<div class="w3-clear"></div>
				<%= @candidate_sec6.registered_voter.surname %>	<%= @candidate_sec6.registered_voter.other_names %>
				<h5>Votes: <span id="votes"><%= @count_sec6 %></span></h5>
				<h5>Percentage: <span id="percent"><%= @sec6_per_final %>%</span></h5>		   			
			</div>
		<%end%>
		
	</div>
	
</div>




