
<%= link_to root_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-dashboard" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 

<%= link_to faculty_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-university" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Falculties</b></span> 
<% end %> 

<%= link_to department_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-mortar-board" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Departments</b></span> 
<% end %> 


<%= link_to program_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-tasks" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Programs</b></span> 
<% end %> 


<%= link_to portfolio_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-anchor" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Portfolios</b></span> 
<% end %> 


<%= link_to session_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-paw" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Sessions</b></span> 
<% end %> 


<%= link_to level_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-crosshairs" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Level</b></span> 
<% end %> 


<%= link_to registered_voters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-asterisk" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Registered Voters/Students</b></span> 
<% end %> 


<%= link_to candidate_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-road" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Candidates</b></span> 
<% end %> 


<%= link_to voter_tokens_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-lock" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Voter Tokens</b></span> 
<% end %> 


<!-- <%= link_to gender_masters_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %> -->
  <!-- <i class="fa fa-male" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Gender</b></span>  -->
<!-- <% end %>  -->


<%= link_to vote_results_path, class: "w3-bar-item w3-margin-left w3-button w3-hoverable w3-hover-white w3-card", style: "background: none" do %>
  <i class="fa fa-archive" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Vote Results</b></span> 
<% end %> 

