<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 

<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 

<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 


<%= link_to root_path, class: "w3-bar-item w3-margin-left", style: "background: none" do %>
  <i class="fa fa-tachometer" aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %> 