<!DOCTYPE html>
<html >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Voting System" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Voting System" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <!-- <body > -->
    <!-- <header> -->
      <!-- <%#= render 'layouts/navigation' %> -->
    <!-- </header>  -->
   
   <% if user_signed_in? %> 
      <% if current_user.role.name == 'Super Admin'%>
	      <body >
		    <header>
		      <%= render 'layouts/navigation' %>
		    </header>
	   
		    <div class="container-fluid" id="main" onclick="w3_close()" >
			      <!-- <%= render 'layouts/messages' %> -->
			      <%= yield %>
		    </div>
	      </body>
    
      <%elsif current_user.role.name == 'Verification Officer' %>
		    <body id="verify-page">
			    <header>
			      <%= render 'layouts/navigation' %>
			    </header>
			    
			    <div style="text-align: center" id="index-page">
		    	  <%= yield %>
		    	</div>
		    </body>
    
       <%end%>
    
   <%else%>
   
	<body style="background: " id="login-page">
    	 <%= yield %>
    
   <%end%>  
   
  </body>
</html>

